* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    animation: animate 4s linear infinite;
    -webkit-animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}

.row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(odd) {
    margin-left: 1px;
}

.hexagon {
    position: relative;
    width: 100px;
    height: 110px;
    background: #111;
    margin: 1 px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.hexagon:hover {
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    background: rgba(166, 24, 205);
}

.hexagon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0);
}